<div *ngIf="data" [formGroup]="form">
  <h1>{{ data.title }}</h1>

  <mat-card class="form-card" *ngFor="let section of data.sections">
    <mat-card-header *ngIf="section.sectionTitle">
      <mat-card-title>{{ section.sectionTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content
      *ngIf="section.sectionType == 'fields' || section.sectionType == null"
    >
      <div *ngFor="let row of section.rows" class="row">
        <div *ngFor="let column of row.columns" class="col">
          <mat-form-field
            *ngIf="column.control && column.control.inputType == 'text'"
            class="full-width"
          >
            <input
              matInput
              placeholder="{{ column.control.label }}"
              formControlName="{{ column.control.dataField }}"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content *ngIf="section.sectionType == 'links'">
      <table
        mat-table
        [dataSource]="data.record[section.sectionData]"
        class="full-width-table"
      >
        <ng-container
          *ngFor="let c of section.sectionColumns"
          matColumnDef="{{ c }}"
        >
          <th mat-header-cell *matHeaderCellDef>{{ c }}</th>
          <td mat-cell *matCellDef="let row">{{ row[c] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="section.sectionColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: section.sectionColumns"></tr>
      </table>

      <button mat-icon-button color="accent" aria-label="Add to table">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Add to table">
        <mat-icon>link</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card-actions *ngIf="data.actions">
    <button
      *ngFor="let a of data.actions"
      (click)="action(a.text)"
      mat-raised-button
      color="primary"
      type="submit"
    >
      {{ a.text }}
    </button>
  </mat-card-actions>
  <!-- 
  <form [formGroup]="dynamicForm" novalidate>
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>{data-title}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name" />
              <mat-error
                *ngIf="contactForm.controls['name'].hasError('required')"
              >
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="!isLinkedToUser">
            <button
              *ngIf="allowLink"
              (click)="linkToUser()"
              mat-raised-button
              color="secondary"
            >
              Link To User
            </button>
            <button
              *ngIf="allowInvite"
              (click)="inviteUser()"
              mat-raised-button
              color="secondary"
            >
              Invite
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Phone" formControlName="phone" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Address" formControlName="address" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Address 2"
                formControlName="address2"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option
                  *ngFor="let state of states"
                  [value]="state.abbreviation"
                >
                  {{ state.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                #postalCode
                maxlength="5"
                placeholder="Postal Code"
                type="number"
                formControlName="postalCode"
              />
              <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Personal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Birthdate</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birthdate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <mat-card-actions>
          <button
            (click)="addRelationship()"
            mat-raised-button
            color="basic"
            type="add"
          >
            Add Relationship
          </button>
        </mat-card-actions>
        <mat-card-content>
          <div
            FormGroup="links"
            *ngFor="let item of linkArray.controls; let i = index"
          >
            <div class="row" [formGroup]="item">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input formControlName="name" matInput />
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field class="full-width">
                  <mat-select
                    placeholder="Relationship Type"
                    formControlName="type"
                  >
                    <mat-option *ngFor="let lt of linkTypes" [value]="lt">
                      {{ lt }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="storeContact()"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>-->
</div>
