.full-width {
  width: 100%;
}

.full-width-table {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.col {
  flex: 11;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.form-card-small {
  width: 400px;
  margin: 10px auto;
}

.main-div {
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 10px;
}

.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-width-table {
  width: 100%;
}

.view-mode {
  float: right;
}

.view-mode-type {
  margin-right: 5px;
}

.button-list {
  margin: 5px;
}

.action-button {
  margin: 5px;
}
