<div *ngIf="data && loaded" class="main-div">
  <h1 class="title">{{ data.title }}</h1>

  <mat-radio-group
    [(ngModel)]="viewMode"
    class="view-mode"
    (click)="viewModeChanged($event)"
    aria-label="Select an View"
  >
    <mat-radio-button class="view-mode-type" value="1">Table</mat-radio-button>
    <mat-radio-button class="view-mode-type" value="2">Card</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="full-width-table">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table
      [dataSource]="dataSource"
      mat-table
      class="full-width-table"
      matSort
      aria-label="{{ 'data for ' + data.title }}"
    >
      <ng-container *ngFor="let c of columnHeaders" matColumnDef="{{ c }}">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ c }}</th>
        <td mat-cell *matCellDef="let row">{{ row[c] }}</td>
      </ng-container>

      <ng-container matColumnDef="__card">
        <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                row[data.cardlayout.titleDatafield]
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let cardRow of data.cardlayout.rows" class="row">
                <div *ngFor="let cardCol of cardRow" class="col">
                  <div [ngSwitch]="true">
                    <span *ngSwitchCase="cardCol.displayType == 'label'">
                      <span>{{ cardCol.data }}</span>
                    </span>
                    <mat-form-field
                      *ngSwitchCase="cardCol.displayType == 'text'"
                      class="full-width"
                    >
                      <input
                        readonly="true"
                        placeholder="{{ cardCol.label }}"
                        matInput
                        value="{{ row[cardCol.dataField] }}"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        (click)="selectItem(row)"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      *ngIf="data.enablePaging"
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<div *ngIf="!loaded" class="main-div">
  <mat-spinner class="progress-spinner"></mat-spinner>
</div>
