.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 11;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width-table {
  width: 100%;
}

.mat-card {
  margin: 20px;
}

.form-card-small {
  width: 400px;
  margin: 10px auto;
}

.main-div {
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 10px;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-col {
  flex: 11;
  margin-right: 20px;
}

.card-col:last-child {
  margin-right: 0;
}

.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
