<div *ngIf="loaded" [formGroup]="form" class="main-div">
  <h1 class="title">{{ data.title }}</h1>

  <mat-tab-group>
    <mat-tab *ngFor="let tab of data.tabs" label="{{ tab.title }}">
      <section [sections]="tab.sections" [data]="data"></section>
    </mat-tab>
  </mat-tab-group>

  <mat-card-actions *ngIf="data.actions">
    <button
      *ngFor="let a of data.actions"
      (click)="action(a.text)"
      mat-raised-button
      color="primary"
      type="submit"
    >
      {{ a.text }}
    </button>
  </mat-card-actions>
</div>
