<div
  *ngFor="let row of section.rows"
  class="row"
  [formGroup]="controlContainer.control"
>
  <div *ngFor="let column of row.columns" class="col">
    <span *ngIf="column.control" [ngSwitch]="true">
      <mat-form-field
        *ngSwitchCase="column.control.inputType == 'text'"
        class="full-width"
      >
        <input
          matInput
          readonly="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
        />
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="column.control.inputType == 'phone'"
        class="full-width"
      >
        <input
          matInput
          readonly="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
          appPhoneMask
        />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="column.control.inputType == 'email'"
        class="full-width"
      >
        <input
          type="email"
          matInput
          readonly="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="column.control.inputType == 'select'"
        class="full-width"
      >
        <mat-select
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
        >
          <mat-option
            *ngFor="let o of data.lists[column.control.options]"
            value="{{ o.value }}"
          >
            {{ o.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="column.control.inputType == 'multiselect'"
        class="full-width"
      >
        <mat-select
          disabled="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
          multiple
        >
          <mat-option
            *ngFor="let o of data.lists[column.control.options]"
            value="{{ o.value }}"
          >
            {{ o.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngSwitchCase="column.control.inputType == 'radio'">
        <label class="mat-header-cell full-width">{{
          column.control.label
        }}</label>

        <mat-radio-group
          class="radio-group"
          disabled="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
        >
          <mat-radio-button
            class="full-width"
            *ngFor="let o of data.lists[column.control.options]"
            value="{{ o.value }}"
          >
            {{ o.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="column.control.inputType == 'togglebutton'">
        <label class="mat-header-cell full-width">{{
          column.control.label
        }}</label>
        <mat-button-toggle-group
          class="radio-group"
          disabled="{{ column.control.readonly == true }}"
          placeholder="{{ column.control.label }}"
          formControlName="{{ column.control.dataField }}"
          aria-label="{{ column.control.label }}"
        >
          <mat-button-toggle
            class="full-width"
            *ngFor="let o of data.lists[column.control.options]"
            value="{{ o.value }}"
          >
            {{ o.text }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </span>
  </div>
</div>
